<h2>Hi <%= @user.name %>,</h2>
<h2>To reset yours password go to next link</h2>

<h2><%= link_to "Reset Password",  password_reset_user_url(@user.reset_token, email: @user.email),  class: "btn btn-success " %></h2>
