<h2>Hi <%= @user.name %>,</h2>

<h3>Thanks for registrating! To confirm your registration click the URL below.</h3>

<%= link_to "Activate",  confirm_email_user_url(@user.confirm_token, email: @user.email) %>
