<div class="comments shadow">
  <h3 class="center-pos ">Comments</h3>
<% @post.comments.latest_four.each do |comment| %>
<div class="panel panel-default shadow">
  <div class="panel-body cr-time">
    Created:   <%= comment.created_at %>
  </div>
  <div class="panel-footer">
      <%= comment.text %>
  </div>
</div>
  <% end %>
</div>
