<div class="comments shadow">
  <h3 class="center-pos">Add comment</h3>
    <%= form_for([@post, @post.comments.build], remote: true) do |f| %>
<div class="border">
      <%= f.text_area :text, :id=>"comment_body", class: "form-control",placeholder: "Type yours comment", rows: "2" %>
</div>
  <h5 class="error-container"></h5>
  <p><%= f.submit "Add comment", :id=>"comment_submit"%></p>
    <% end %>
</div>
