$("#comment_body").css({'border-color':'#d9d9d9'});
$(document).on('blur', 'input[type=text],textarea', function(){$(this).css({'border-color':'#d9d9d9'});});
$(document).on('focus', 'input[type=text],textarea', function(){$(this).css({'border-color':'#33adff'});});

if (<%= @comment.save%>){
$('.commentarys_container').html("<%= j render :partial => './comments/all_comments',  :locals => {:n=> 2 }%>");
$('.error-container').html("<p style='color:green'>You have add new  comment</p>");
$(".new_comment").each(function(){this.reset();});
}
else {
  $("#comment_body").css({'border-color':'red'});
  $(document).on('blur', 'input[type=text],textarea', function(){$(this).css({'border-color':'red'});});
  $(document).on('focus', 'input[type=text],textarea', function(){$(this).css({'border-color':'red'});});


/*  $('.border').css({'border-color':'red',
"border-style":"solid",
"border-size":"2px",
"padding":"5px",
"border-radius":"7px"
});*/
 $('.error-container').html("<p>Your comment is invalid. Please, change it.</p>");
};
