<p>
  <%= f.label :password %></br>
  <%= f.password_field :password, class: "form-control"%>
</p>
<p>
  <%= f.label :password_confirmation %></br>
  <%= f.password_field :password_confirmation, class: "form-control"%>
</p>
