<h3 class="align-center border-top-bot padding add-margin">Hello <%= @user.name %> , please enter  new password!</h3>
<%= form_for @user, url: user_path(@user), method: :patch do |f|%>
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <%= render :partial => 'shared/password', :locals => { :f => f} %>
    </div>
  </div>
  <p class="align-center">
    <%= f.submit "Reset", class: "btn btn-primary " %>
  </p>
<% end %>
