<%= form_for(@user, url: find_user_path, method: :get ) do |f| %>
    <%= f.label :email %></br>
    <%= f.text_field  :email, class: "form-control"%>
   <p class="align-center">
    <%= f.submit "Sign Up", class: "btn btn-primary " %>
    </p>
<% end %>
