<div class="head-style">
    <h1 class="title">Welcome to Sg Blog</h1>
    <div class="center-pos">
      <%= link_to "New Post",new_post_path, class: "btn btn-default", id: "New Post"%>
    </div>
</div>
