
<div class="pes"> SG Blog </div>

  <div class="col-xs-12 title">
     <div class="pes"> SG Blog </div>
    <div class="pe pull-right">   <%= link_to "New Page",new_post_path, class: "btn btn-default", id: "New Post"%>
</div>
  </div>
  <div class="col-xs-12 ">


  <div class="list-group ">
      <% @posts.latest_five.each do |post| %>


            <%= link_to post_path(post), class: "list-group-item post-link" do %>
            <h4 class="link_to"><strong><%=post.title%></strong></h4>
            <p class="link_to">
            <%=limited_posts_body(post.body)%>
            </p>
            <%end%>
    <% end %>



  </div>
</div>
