
<%= render :partial => "header"%>
<div class="block">


  <div class="col-sm-8 show-container  ">
    <h1 class="center-pos"><%= @post.title%></h1>
    <p class="body-text"><%= @post.body%></p>
  </div>
  <div class="col-sm-3  ">
    <%= image_tag @post.image.medium.url, class: "img-rounded" %>
  </div>
</div>
