var value = $(".show_all").text()
if (value =='Show all' ){
  $(".commentarys_container").html("<%= j render :partial => './comments/all_comments',  :locals => {:n=> -1 }%>");
$(".commentarys_container").append('<div class="center-pos"><a href="#" class="btn btn-success  show_all" data-remote="true">Hide</a></div>');
}
else {
  $(".commentarys_container").html("<%= j render :partial => './comments/all_comments',  :locals => {:n=> 2 }%>"
);

}
