
  <div class="col-xs-12 first-title">
    <p>Show post page</p>
  </div>

  <div class="col-xs-12 title">
    <%= @post.title%>
  </div>

  <div class="col-xs-12 body">
    <p><%= @post.body%></p>
  </div>

  <div class="col-xs-12 title btns">
    <a class=" link" href="#" role="button">Edit post</a>
    <a class=" link" href="#" role="button">Delete post</a>
    <a class=" link" id="Main page" href="<%= root_path%>" role="button">Main page</a>
  </div>
