/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *=require style
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 body { padding-top: 50px;
   padding-bottom: 70px;
  }
  .b-radius {
    border-radius: 5px;
  }
.color-white{
  color: white;
}
.color-dwhite{
  color: #a4a5a4;
}
.b-dwhite{
  background-color: #dbdddd;
}
.shadow {
 box-shadow: 0 0 10px rgba(0,0,0,0.5);
 padding: 10px;
}
  .height-200{
    height: 200;
  }
  .height-120{
    height: 120px;

  }
  .font-12{
    font-size: 12px;
  }
  .profile-info{
   min-width: 210px;

  }
 .black {
   background-color: #1a1a1a;
 }
 .white {
   background-color: white;
 }
 .footer{
   width: 100%;
   height: 100px;
 }
 .border-top{
   border-top-style: double;
   border-top-width: 1px;
   border-color: #d9d9d9;
   border-radius: 4px;
 }
 .border-bot{
   border-bottom-style: double;
   border-bottom-width: 1px;
   border-color: #d9d9d9;
   border-radius: 4px;
 }
 .left-float{
   float:left;
 }
.align-center{
  text-align: center;
}
.align-left{
  text-align: justify;
  text-indent: 20px;
}
.pad {
  min-width: 170px;
}
.zen{
  min-width: 500px;
}
.inline-block{
  display: inline-block;
}
