

.img-container  {
  display: inline-block;
  padding-left: 10px;}

.newpost {
  font-size: 18px;
}

.title {
   padding:0;
  font-size: 50px;
  font-family: fantasy;
  font-weight: bolder;
  color: white;
  text-align:center ;
}
.center-pos{
  text-align: center;
  padding-bottom: 5px;
}
.show-container{
  background-color: rgb(245, 245, 240);
  font-size: 16px;
  padding: 0px;
word-wrap: break-word;
}
.head-style {
 background-color: #333333;
 border-radius: 5px;
 margin-bottom: 5px;
}
.block {
  width: 100%;
  overflow: hidden;
}
.container {
  padding-bottom: 10px;

}
