.pe {
  display: inline-block;
  padding: 0 5px 4px 0;
}
.title {
  font-size: 30px;
  text-align: center;
  background-color: #1f2d2d;
  color:white;
    border-radius: 5px;
}
.link_to {
  text-decoration: none;
}
.btns {
  font-size: 14px;
  line-height: 2;
  padding:  5px 20px 5px 20px;
}
.posts {
  font-size: 16px;
    text-align: center;
}
.link {
  font-size: 16px;
  color:white;
  padding: 10px;
}
.new-post-link {
    background-color: #1f2d2d;
}
.body {
  background-color: #e1eaea;

}
.body-text {
  padding:10px;
}
.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}
.first-title{
  text-align: right;
  font-size: 7px;
  background-color: #1f2d2d;
  color:white;
  height: 7px;
}
