html, body {
}
.color1{
  background-color: white;
}
.color {
  background-color: grey;
  display: inline-block;
  padding-left:  10px;
  padding-right:  10px;

}
.padding{
  padding: 10px;
}
.padding-none{
  padding: 2px !important;
}
.x{
  width: 150px;
  display: inline-block;
  padding-left:  10px;
  padding-right:  10px;

}
.back-col{
  background-color: red;

}
.comment-text{
  font-size: 14px;
  padding: 0;
  margin: 0;
}
.margin-sides{
 padding-right: 50px;
}

// title
.title {
  text-align: center;
  vertical-align: middle;
  h1{
    display: inline;
  }
}
.top-margin{
  margin-top: 15px;
}
.rightfloat-img  {
 float: right;
 margin: 2px 0px 0px 10px;
}
//body
.border{
  border-style: solid;
  border-color: #d9d9d9;
  border-width: 1px;
}
.border-top-bot{
  margin: 15px !important;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-color: #d9d9d9;
  border-width: 1px;
}
.add-margin{
  margin: 15px;
}
.date{
  font-size: 14px;
  background-color: black;
  color: white;
}
.margin-none{
  margin: 0;
}
.post-body{
  margin-left: 20px;
  padding:0px !important;
  text-align: justify;
  font-size: 18px;
  p{
    text-indent: 20px;
  }
}
.new-comment{
  margin-top: 25px;
  padding: 15px;
  background-color: white;
}
.index-paddings{
  margin-left: 20px;
}
.head-title{
  height: 100px;
  background-color: #4CAF50;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
  font-size: 70px;

}
.font-10{
  font-size: 10px;
}
.border-bot{
  border-bottom-style: solid;
  border-color: #d9d9d9;
  border-width: 1px;
}
.padding-margin-zero{
  margin: 0 ;
  padding: 0 ;
}
.align-left{
  text-align: left;
}
.user_img {
  padding-top: 10px;
}
.profile{
  width: 200px !important;
  margin-left: 0;
  margin-bottom: 15px;
  text-align: center;
  padding: 15px;
  p{
    font-size: 10px;
  }
  h1{
    margin-top: 5px;
  }
}
.align-center{
  text-align: center !important;
}
.show-post {
  padding: 10px;
  border-style: solid;
  border-color: #d9d9d9;
  border-width: 1px;
  margin-bottom: 20px;

}
